/* Mobile */
* {
    font-family: "Inter"
}

.fancyNav {
    background: #24C6DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} 

h1 {
    font-size: 22pt;
}

h5 {
    font-size: 14pt;
}

p {
    font-size: 10pt;
}

.paddedPageDiv {
    border: 2px solid black;
    margin: 8% 20% 0% 20%; 
    padding: 3% 3% 3% 2%;
    position: absolute;
    width: 60%;
}
